body{
    background-image: url('platillos_fondo2.jpg'); 
    background-size: cover;           
    background-position: center;   
    background-attachment: fixed;      
    margin: 0;                         
    height: 100%;  
    justify-items: center;
}

ul{
    list-style-type: none;
    padding: 0;             
    margin: 0;
}

a {
    display: inline-block;
    padding: 0;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    list-style-type: none;
    text-align: center;
    transition: transform 0.3s;
    width: 70px;
    height: 70px;
    overflow: hidden;
}

a.salir {
    background-image: url('icon_sali2.png');
    background-size: cover;
    background-position: center;
}

.salir {
    position: fixed;  
    top: 10px;         
    left: 10px;       
    z-index: 1000;   
}

.bebidas {
    display: flex; /* Coloca los elementos en una fila */
    flex-wrap: wrap; /* Permite que los elementos pasen a otra línea si no caben */
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 30px; /* Agrega espacio entre cada tarjeta */
    padding: 20px;
     background-color: rgba(0, 0, 0, 0.5);
}

.bebidas h2{
    color: black;
    font-size: 60px;
    text-align: center; /* Centra el texto horizontalmente */
    text-shadow: 
        0 0 5px #000000,  
        0 0 10px #000000, 
        0 0 15px #FFFFFF, 
        0 0 20px #FFFFFF, 
        0 0 30px #FFFFFF,
        0 0 40px #FFFFFF;
    width: 100%; /* Asegura que el h2 ocupe todo el espacio disponible en su contenedor */
}

.Platillos {
    background-color: #e2bb4d;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 180px; /
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    
}


.Platillos h1 {
    color: black;
    text-align: center;
}


.Platillos img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.Platillos:hover {
    transform: scale(1.05);
}


.message {
    display: none;
    font-size: 16px;
    color: black;
    margin-top: 10px;
}


.Platillos:hover .message {
    display: block;
}